<!DOCTYPE html> <!--Basically holds all our views, or, templates. 
The base template will contain all main references to our external files and third-party libraries,
for JavaScript and CSS, that we'll use across the entire application.
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
</head>
<body>

    <h1>Part of the base template</h1>
    {% block content %}

    {% endblock %}

</body>
</html>